{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Секретная страница</h1>

    <p>
        Получить доступ к этой странице могут только пользователи, прошедшие процедуру аутентификации.
    </p>
{% endblock %}