{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Задание к лабораторной работе № 4</h1>

    <p>
        Цели работы
        <ul>
            <li>Изучить работу в БД MySQL</li>
        </ul>
    </p>
{% endblock %}