{% extends 'visits/base.html' %}
{% from 'pagination.html' import render_pagination %}
{% block tab_content %}

<h3 class="my-5">Журнал посещений</h3>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Пользователь</th>
            <th>Страница</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    {% if record.last_name %}
                        {{ record.last_name }} {{ record.first_name }} {{ record.middle_name or '' }}
                    {% else %}
                        Неаутентифицированный пользователь
                    {% endif %}
                </td>
                <td>{{ record.path }}</td>
                <td>{{ record.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ render_pagination(request.endpoint, pagination_info) }}

{% endblock %}