{% extends 'base.html' %}

{% block content %}

    <h1 class="my-5">Параметры URL</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            {% for name, value in request.args.items() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}