{% extends 'base.html' %}

{% block content %}

    <h1 class="my-5">Калькулятор</h1>

    <form class="form-inline">
        <input type="text" name="operand1" class="form-control mr-2" value="{{ request.args.get('operand1', '0') }}">
        <select name="operation" id="operation" class="form-control mr-2"> 
            {% for operation in operations %}
                <option {% if request.args.get('operation') == operation %}selected{% endif %}>{{ operation }}</option>
            {% endfor %}
        </select>
        <input type="text" name="operand2" class="form-control mr-2" value="{{ request.args.get('operand2', '0') }}">
        <button type="submit" class="btn btn-primary mr-2">=</button>
    </form>

    {% if error_msg %}
        <p style="color: red;"> {{ error_msg }} </p>
    {% endif %}

    {% if result %}
        <input type="text" name="result" class="form-control" value="{{ result }}" disabled>
    {% endif %}

{% endblock %}