{% extends 'base.html' %}

{% block content %}

    <h1 class="my-5">Параметры формы</h1>

    <form class="form-group">
        <div class="form-group">
            <label for="number">Номер</label>
        </div>
        <div class="form-inline">
            <input type="text" name="number" id="number"  {% if error_msg %} class="form-control is-invalid" {% endif %}  
            {% if conf_msg %} class="form-control is-valid" {% endif %} value="{{ request.form.get('number', '') }}">

            {% if error_msg %}
            <div class="invalid-feedback">
                {{ error_msg }}
            </div>
            {% endif %}
            {% if conf_msg %}
            <div class="valid-feedback">
                {{ conf_msg }}
            </div>
            {% endif %} 

            <input type="submit" value="Отправить" class="btn btn-primary">
        </div>
          
    </form>


    {% if formatted_number %}
        <p style="color: green;">{{ formatted_number }}</p>
    {% endif %}

{% endblock %}