{% extends 'base.html' %}

{% block content %}

    <h1 class="my-5">Параметры формы</h1>

    <form method="POST">
        <div class="form-group">
            <label for="theme">Текст</label>
            <input type="text" name="theme" id="theme" class="form-control" value="{{ request.form.get('theme') }}">
        </div>
        <div class="form-group">
            <label for="msg">Сообщение</label>
            <textarea name="msg" id="msg" cols="30" rows="10" class="form-control">{{ request.form.get('msg') }}</textarea>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Отправить" class="btn btn-primary">
        </div>
    </form>


{% if request.method == 'POST' %}

    <h1 class="my-5">Cookies</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            {% for name, value in request.form.items() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}

{% endblock %}