{% extends 'base.html' %}

{% block content %}
    <h1 class="my-5">Список пользователей</h1>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Роль</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="user-name">{{ user.last_name }} {{user.first_name}} {{user.middle_name or ''}}</td>
                    <td>{{ user.role_name or 'Не назначено'}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ url_for('show', user_id=user.id) }}">Просмотр</a>
                            {% if current_user.is_authenticated %}
                                <a class="btn btn-secondary" href="{{ url_for('edit', user_id=user.id) }}">Редактировать</a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-user-modal" data-url="{{ url_for('delete', user_id=user.id)}}">
                                    Удалить
                                </button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.is_authenticated %}
        <a class="btn btn-primary" href="{{ url_for('new') }}">Создать пользователя</a>
    {% endif %}

    <div class="modal" tabindex="-1" role="dialog" id="delete-user-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Удаление записи</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Вы уверены, что хотите удалить пользователя <span id="user-name"></span>?</p>
              <form action="" method="post" class="d-none">
                  <input type="submit" id="delete-btn">
              </form>
            </div>
            <div class="modal-footer">
              <label for="delete-btn" class="btn btn-danger mb-0">Да</label>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}